:root {
    --header-height: 3.5rem;

    /* HSL color mode */
    --hue-color: 152;
    --primary-color: hsl(var(--hue-color), 41%, 10%);
    --primary-color-alt: hsl(var(--hue-color), 41%, 30%);
    --title-color: hsl(var(--hue-color), 41%, 50%);
    --text-color: hsl(var(--hue-color), 41%, 70%);
    --text-color-light: hsl(var(--hue-color), 41%, 90%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFFFFF;

    --body-font: 'Poppins', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --subtitle-font: 'Poppins', sans-serif;

    --font-2xl: 2.5rem;
    --font-xl: 2rem;
    --font-lg: 1.5rem;
    --font-md: 1.2rem;
    --font-sm: 1rem;
    --font-xs: 0.8rem;

    --font-medium: 500;
    --font-semi-bold: 600;

}

@media screen and (min-width: 1024px) {
    :root {
        --font-2xl: 5rem;
        --font-xl: 3rem;
        --font-lg: 2rem;
        --font-md: 1.25rem;
        --font-sm: 1rem;
        --font-xs: .8rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font), serif;
    font-size: var(--font-sm);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.nav__buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
    transform: rotate(245deg);
}

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

@media screen and (max-width: 340px) {
    .section {
        padding-block: 4rem 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .section {
        padding-block: 7rem 1.5rem;
    }
}

.section__title, .home__title {
    font-family: var(--title-font), serif;
    font-size: var(--font-xl);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: hsl(36, 100%, 96%);
    -webkit-text-stroke: 2px #401c10;
    text-shadow: 6px 6px 0 #9f7060;
}

@media screen and (max-width: 304px) {
    .home__title, .section__title {
        font-size: var(--font-2xl);
        margin-bottom: 2rem;
    }
}

.section__subtitle {
    display: block;
    font-family: var(--subtitle-font), serif;
    font-size: var(--font-lg);
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.section___title,
.section__subtitle {
    text-align: center;
}

.main {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
    transition: box-shadow .3s, background-color .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
}

.nav__toggle, .nav__close {
    display: flex;
    color: var(--title-color);
}

@media screen and (min-width: 768px) {
    .nav__toggle, .nav__close {
        display: none;
    }
}

.nav__logo {
    color: var(--primary-color);
    font-size: var(--font-md);
    font-weight: var(--font-semi-bold);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: color .3s;
}

.nav__logo img {
    width: 25px;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 3.5rem;
        transition: top .4s;
    }
}

@media screen and (min-width: 768px) {
    .nav__menu {
        margin-left: auto;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

@media screen and (min-width: 768px) {
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--primary-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__img-1 {
    position: absolute;
    opacity: 0.5;
    width: 100px;
    top: -2rem;
    left: -2rem;
}

@media screen and (min-width: 768px) {
    .nav__img-1 {
        display: none;
    }
}

.show-menu {
    top: 0;
}

.home {
    position: relative;
}

.home__container {
    row-gap: 3rem;
    justify-self: center;
}

@media screen and (min-width: 576px) {
    .home__container {
        grid-template-columns: 0.7fr;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .home__container {
        position: relative;
        grid-template-columns: 480px 500px;
    }
}

.home__img {
    width: 300px;
    justify-self: center;
}

@media screen and (min-width: 1024px) {
    .home__img {
        width: 600px;
        position: absolute;
        top: 2rem;
        right: -2rem;
    }
}

.home__data {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .home__data {
        text-align: initial;
        order: -1;
    }
}

.home__title {
    font-size: var(--font-2xl);
    margin-bottom: 1rem;
}

.home__description {
    padding: 0 1rem;
    margin-bottom: 2.5rem;
}

.button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: #FFFFFF;
    font-weight: var(--font-medium);
    transition: background-color .3s;
}

.button i {
    font-size: 1.25rem;
    transition: transform .3s;
}

.button:hover {
    background-color: var(--primary-color-alt);
}

.button:hover i {
    transform: translateX(.25rem);
}