:root {
    --header-height: 3.5rem;

    /* HSL color mode */
    --hue-color: 152;
    --primary-color: hsl(var(--hue-color), 41%, 10%);
    --primary-color-alt: hsl(var(--hue-color), 41%, 30%);
    --title-color: hsl(var(--hue-color), 41%, 50%);
    --text-color: hsl(var(--hue-color), 41%, 70%);
    --text-color-light: hsl(var(--hue-color), 41%, 90%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFFFFF;

    --body-font: 'Poppins', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --subtitle-font: 'Poppins', sans-serif;

    --font-2xl: 2.5rem;
    --font-xl: 2rem;
    --font-lg: 1.5rem;
    --font-md: 1.2rem;
    --font-sm: 1rem;
    --font-xs: 0.8rem;

    --font-medium: 500;
    --font-semi-bold: 600;

}

@media screen and (min-width: 1024px) {
    :root {
        --font-2xl: 5rem;
        --font-xl: 3rem;
        --font-lg: 2rem;
        --font-md: 1.25rem;
        --font-sm: 1rem;
        --font-xs: .8rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font), serif;
    font-size: var(--font-sm);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section_title {
    font-family: var(--title-font), serif;
    font-size: var(--font-xl);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: hsl(36, 100%, 96%);
    -webkit-text-stroke: 2px #401c10;
    text-shadow: 6px 6px 0 #9f7060;
}

.section_subtitle {
    display: block;
    font-family: var(--subtitle-font), serif;
    font-size: var(--font-lg);
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.section_title,
.section_subtitle {
    text-align: center;
}

.main {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
    transition: box-shadow .3s, background-color .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle, .nav__close {
    display: flex;
    color: var(--title-color);
}

.nav__logo {
    color: var(--primary-color);
    font-family: var(--title-font);
    font-size: var(--font-md);
    font-weight: var(--font-semi-bold);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: color .3s;
}

.nav__logo img {
    width: 25px;
}